/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* common style starts */
html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
p{
    color: gray;
}
/* common style ends */
/* student feedback starts */
.fa-star,.fa-star-half-stroke{
    color: gold;
}
/* student feedback ends */